################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/svgwork-site/CopilotIndices/17.14.1696.13113
/.vs
